*{
    box-sizing: border-box; /* Ensure borders don't add extra size */
}

#gamecontainer-circle {
    position: relative;
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    background-color: rgb(250, 238, 223);
    z-index: 1;
    border: 9px solid rgba(0, 0, 0, 0.253);
    display: grid;
    border-radius: 50%;
    transform: rotate(180deg);
}

#scoreline {
    position: absolute;
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    background-color: transparent;
    border: 9px solid rgb(46, 46, 46);
    transform: rotate(-45deg);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid transparent;
    /* border-bottom: 9px solid transparent; */
    z-index: 5;
    border-radius: 50%;
}

.click-Area {
    position: absolute;
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    background-color: transparent;
    border: 9px solid transparent;
    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    clip-path: polygon(50% 0, 100% 100%, 50% 100%);
    border-radius: 50%;
    box-sizing: border-box; /* Ensure borders don't add extra size */
}

.caOne {
    transform: rotate(270deg);
    border-bottom: 9px solid rgba(25, 87, 128, 0.75);
    opacity: 0.3;      
}
.caTwo {
    transform: rotate(225deg);
    border-bottom: 9px solid rgba(182, 34, 34, 0.75);  
    opacity: 0.3;            
}
.caThree {
    transform: rotate(180deg);
    border-bottom: 9px solid rgba(25, 87, 128, 0.75);
    opacity: 0.3;
}
.caFour {
    transform: rotate(135deg);
    border-bottom: 9px solid rgba(182, 34, 34, 0.75);
    opacity: 0.3;
}

.curve-section {
    position: absolute;
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    background-color: transparent;
    border: 9px solid transparent;
    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box; /* Ensure borders don't add extra size */
}
 
.curve {
    position: absolute;
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    background-color: transparent;
    border: 9px solid transparent;

    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    clip-path: polygon(50% 0, 100% 100%, 50% 100%);
    border-radius: 50%;
}

.curveOne {
    transform: rotate(270deg);
    animation-iteration-count: 1;    
    animation-fill-mode: forwards;
    border-bottom: 9px solid rgba(25, 87, 128, 0.75);       
}
.curveTwo {
    transform: rotate(225deg);
    animation-iteration-count: 1;    
    animation-fill-mode: forwards;
    border-bottom: 9px solid rgba(182, 34, 34, 0.75);       
}
.curveThree {
    transform: rotate(180deg);
    animation-iteration-count: 1;    
    animation-fill-mode: forwards;
    border-bottom: 9px solid rgba(25, 87, 128, 0.75);       
}
.curveFour {
    transform: rotate(135deg);
    animation-iteration-count: 1;    
    animation-fill-mode: forwards;
    border-bottom: 9px solid rgba(182, 34, 34, 0.75);       
}

.button-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@keyframes blueCurveAnime {
    0% {
        scale: 0;
    }
    90% {
        border-bottom: 9px solid rgba(25, 86, 128, 0.8);
    }
    100% {
        scale: 1;
        border-bottom: 9px solid rgb(41, 161, 241);
    }
}

@keyframes redCurveAnime {
    0% {
        scale: 0;
    }
    90% {
        border-bottom: 9px solid rgba(182, 34, 34, 0.8);
    }
    100% {
        scale: 1;
        border-bottom: 9px solid rgb(252, 43, 43);
    }
}

@keyframes circleAnimeS {
    0% {
        scale: 0;
    }
    90% {
        border-top: 12px solid rgba(182, 180, 34, 0.8);
        border-right: 12px solid rgba(182, 180, 34, 0.8);
        border-left: 12px solid rgba(182, 180, 34, 0.8);
        border-bottom: 12px solid rgba(182, 180, 34, 0.8);
    }
    100% {
        scale: 1;
        border-top: 12px solid rgb(252, 248, 45);
        border-right: 12px solid rgb(252, 248, 45);
        border-left: 12px solid rgb(252, 248, 45);
        border-bottom: 12px solid rgb(252, 248, 45);
    }
}

.message {
    animation-iteration-count: 1;    
    animation-fill-mode: forwards; 
    position: absolute;
    padding: 5px;
}

.rightMessage {
    animation: rightAnime 500ms ease;
    bottom: 75px;
    right: -50px;
    background-color: rgba(25, 86, 128);
}

.earlyRight {
    right: -125px;
}

.missedRight { 
    right: -125px;
    bottom: 125px;
}


.leftMessage {
    animation: leftAnime 500ms ease;
    bottom: 75px;
    left: -50px;
    background-color: rgba(182, 34, 34);
}

.earlyLeft {
    left: -125px;
}

.missedLeft { 
    left: -125px;
    bottom: 125px;
}

@keyframes rightAnime {
    0% {
        transform: translate(0,0px);
    }
    100% {
        transform: translate(20px, -10px);
    }
}

@keyframes leftAnime {
    0% {
        transform: translate(0,0px);
    }
    100% {
        transform: translate(-20px, -10px);
    }
}