
#gamecontainer {
    position: relative;
    width: 400px;
    height: 800px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pilar {
    background-color: aqua;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.newEle {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 10px;
}

.aPillar {
    animation: panDownA 2s linear;
    /* left: 0; */    animation-iteration-count: 1;    animation-fill-mode: forwards; /* Keeps the final state after animation ends */


}

.dPillar {
    animation: panDownB 2s linear;
    /* left: 100px; */    animation-iteration-count: 1;    animation-fill-mode: forwards; /* Keeps the final state after animation ends */


}

.jPillar {
    animation: panDownC 2s linear;
    /* left: 200px; */    animation-iteration-count: 1;    animation-fill-mode: forwards; /* Keeps the final state after animation ends */


}

.lPillar {
    animation: panDownD 2s linear;
    /* left: 00px; */    animation-iteration-count: 1;    animation-fill-mode: forwards; /* Keeps the final state after animation ends */


}

@keyframes panDownA {
    0% {
        background-color: aqua;
        transform: translate(0px, 0px);
    }
    100% {
        background-color: rgb(5, 80, 17);
        transform: translate(0px, 800px);
        display: none;

    }
}

@keyframes panDownB {
    0% {
        background-color: aqua;
        transform: translate(100px, 0px);
    }
    100% {
        background-color: rgb(5, 80, 17);
        transform: translate(100px, 800px);
        display: none;

    }
}

@keyframes panDownC {
    0% {
        background-color: aqua;
        transform: translate(200px, 0px);
    }
    100% {
        background-color: rgb(5, 80, 17);
        transform: translate(200px, 800px);
        display: none;
    }
}

@keyframes panDownD {
    0% {
        background-color: aqua;
        transform: translate(300px, 0px);
    }
    100% {
        background-color: rgb(5, 80, 17);
        transform: translate(300px, 800px);
        display: none;

    }
}

.message {
    position: absolute;
    bottom: 0;
}

.success {
    background-color: green;
    animation: successAnime 500ms ease;
    animation-iteration-count: 1;    
    animation-fill-mode: forwards; 
}

.miss {
    background-color: red;
    animation: missAnime 500ms ease;
    animation-iteration-count: 1;    
    animation-fill-mode: forwards; 
}

.messageA {
    left: 0;
}

.messageD {
    left: 100;
}

.messageJ {
    left: 200;
}

.messageL {
    left: 300;
}

@keyframes successAnime {
    0% {
        color: white;
        transform: translate(0,0px);
    }
    100% {
        color: black;
        transform: translate(-20px, -10px);
    }
}

@keyframes missAnime {
    0% {
        color: white;
        transform: translate(0,0px);
    }
    100% {
        color: black;
        transform: translate(-20px, -10px);
    }
}